body{
    font-family: Helvetica, Arial, Sans-Serif;
}
.nav{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    /* position:absolute; */
    /* left:1rem; */
    top: 1.5rem;
}

.nav-elem{
    color: white;
    position: absolute;
    text-decoration: none;
    left: 10rem;
    top: 1.6rem;
}

.nav-elem:hover{
    color: blue;
}

.abt-link{
    left: 18rem;
}

.cnt-link{
    left: 26rem;
}

.nf-link{
    left: 35rem;
}

.ra-link{
    left: 45rem;
}

.pht{
    height: 20rem;
}

.banner{
    background-color: #FFE5B4;
    position: relative;
    height: 41rem;
}
.big-text{
    position: absolute;
    left: 3rem;
    top: 11rem;
    font-size: 4rem;
    max-width: 47%;
}

.imag{
    /* background-color: aqua; */
    position: absolute;
    left: 50%;
    top: 10rem;
    width: 50%;
}

.ques{
    position: relative;
    top: 26rem;
    left: 3rem;
    font-size: 2rem;
    width: 50%;
    /* background-color: aquamarine; */
}

.btn{
    background-color: blue;
    color: white;
    text-align: center;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    font-size: large;
    position: relative;
}
.btn:hover{
    background-color: lightblue;
    color: black;

}

.one{
    position: absolute;
    top:4rem;
    left: 4rem;
}

.two{
    position: absolute;
    top:4rem;
    left: 17rem;
}

.three{
    position: absolute;
    top:4rem;
    left: 30rem;
}

.four{
    position: absolute;
    top:9rem;
    left: 4rem;
}

.five{
    position: absolute;
    top:9rem;
    left: 17rem;

}

.six{
    position: absolute;
    top:9rem;
    left: 30rem;

}

#science, #novels, #finance, #computer-science, #history, #mathematics{
    position: relative;
    height: 30rem;
    font-size: 3rem;
}

.img1{
   
    height: 15rem;
}
.img2{
    
    height: 15rem;
}
.img3{
    
    height: 15rem;
}


#novel{
    position: relative;
    height: 30rem;
}

.table{
    width:100%;
    text-align: center;
}

.bookname, .rating{
    font-size: 1rem;
}

.for-more-books{
    position: absolute;
    top: 25rem;
    word-wrap: break-word;
    right:3rem;
}

.arrow {
border: solid white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.buff{
    background-color: #FFE5B4;
    height: 1rem;
}

#footer{
    text-align: center;
    background-color: #FFE5B4;
    height: 17rem;
    position: relative;
}

.last-txt{
    position: relative;
    top: 3rem;
    font-size: 1.3rem;
}
.just-last{
    position: relative;
    top: 3rem;
    font-size: 1rem;
}

.quote{
    position: relative;
    top: 1rem;
    font-size: 2rem;
}

.by{
    font-style: italic;
}